@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
    width: 80%;
    max-width: 768px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Noto Sans Japanese', sans-serif;
    line-height: 1.5em;
    color: #526066;
    /*font-weight: lighter;*/
}
